<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://localhost:6080"
                   matchAll="true"/>
        <serverUrl url="https://utility.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://192.168.1.144/omarpc"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy 
https://utility.arcgisonline.com
for more information -->
